body {
  background-color: #000000;
  font-weight: bold;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf18a+0,f1da36+100 */
  background: #fcf18a; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #fcf18a 0%,
    #f1da36 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #fcf18a 0%,
    #f1da36 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #fcf18a 0%,
    #f1da36 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf18a', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

/* HEADER */

.logo {
  text-align: center;
  margin: 15px;
}

.main-nav {
  position: right, top;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgba(white, white, white, 0.2);
  margin: 10px;
  font-size: 17px;
}

.buscador {
  position: absolute;
  right: 0%;
  margin-right: 20px;
}

/* CUERPO */

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  padding: 15px;
}
h2 {
  margin-bottom: 20px;
}

.box1 {
  margin: 10px;
}

.box2 {
  margin: 10px;
}

.registro {
  align-self: center;
  margin-top: 5%;
}

.login {
  align-self: center;
  margin-top: 5%;
}

/* Footer */
#link {
  color: black;
}
footer {
  background: #222;
  padding: 30px;
  clear: both;
  justify-content: space-between;
}

.copy {
  padding-top: 25px;
  font-weight: bold;
}

.social i {
  color: #fff;
  font-size: 40px;
  margin: 10px;
  padding-top: 10px;
}

.social i:hover {
  color: #f1da36;
}

table,
tbody,
tr,
td {
  border: black 2px solid;
}
.responsive {
  width: 100%;
  height: auto;
  align-self: center;
  margin: 2px;
}

/* Product Detail */
#container-prod {
  background-image: url(/img/fondo-blue.jpg);
}
h6 {
  font-weight: 700;
}
i.icon {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}
