/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
}
header {
  background-color: #313131;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
figure {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}

/* CUERPO */
body {
  background-image: url("/img/fondos/fondo-blue.jpg");
  /* font-weight: bold; */
  color: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

/* HEADER */

.logo {
  text-align: center;
  margin-top: 15px;
}

.main-nav {
  position: right, top;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgba(white, white, white, 0.2);
  margin: 10px;
  font-size: 17px;
}

.buscador {
  position: absolute;
  right: 0%;
  margin-right: 20px;
}

/* CUERPO */

/* .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  padding: 15px;
} */

h2 {
  margin: 30px;
  font-size: 3rem;
  color: #000;
  font-family: "Raleway", sans-serif;
}

.box1 {
  margin: 20px;
  align-items: center;
  margin-left: 10%;
}

/* Productos */
.box2 {
  position: relative;
  overflow: hidden;
  display: flex;
}
.products-container {
  margin: 60px;
  display: flex;
  flex-direction: column;
}
.products-title {
  font-size: 2em;
  font-weight: 400;
  color: rgb(36, 34, 34);
  padding: 0 20px 0 0;
  text-align: left;
}
.tarjeta {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;
  margin: 20px 0;
  display: block;
  position: relative;
  align-items: center;
}
.tarjeta a {
  display: block;
}
.prod-img {
  display: flex;
}
figure {
  display: flex;
  justify-content: center;
  height: 200px;
}

.cuerpo-tarjeta {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: flex-end;
}

/* Detalle productos */
.products-detail {
  display: flex;
  justify-content: space-around;
}
.pp-dd {
  display: flex;
  justify-content: center;
}
.prod-detail {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
}
article {
  display: inline-flex;
  flex-direction: column;
  order: 2;
}

.img-prod-detail {
  padding: 0 40px 0 20px;
}
/*=== fin detalle productos ===*/

/*=== Creacion de productos (formulario) ===*/
.products-create {
  display: flex;
  justify-content: center;
}
.prod-create-box {
  display: flex;
}
.form-label {
  display: inline-block;
  font-size: 2rem;
}
.form-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  border: solid 1px gray;
}
.prod-create-button {
  display: flex;
  justify-content: right;
  padding: 20px;
}
/*=== Fin creacion ===*/

/* .otros-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* REGISTER-LOGIN */

.hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border-radius: 30px;
}

.button-box {
  width: 223px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 115px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  border-left: 0;
  border-right: 0;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  position: relative;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 30px 10px 30px 0;
}

span {
  color: #777;
  font-size: 12px;
  bottom: -28px;
  position: relative;
}

#login {
  left: 50px;
}

#registro {
  right: -350px;
}

/* Footer */

#link {
  color: black;
}
footer {
  background: #313131;
  clear: both;
  justify-content: space-between;
}
.text-input {
  width: 100%;
}
.suscribe {
  align-self: center;
  color: white;
  font-weight: bold;
}

.column-footer {
  width: 100%;
}

.copy {
  padding-top: 25px;
  font-weight: bold;
}

.social i {
  color: #fff;
  font-size: 40px;
  margin: 10px;
  padding-top: 10px;
}

.social i:hover {
  color: #f1da36;
}
/* #link {
  color: black;
}
footer {
  background: #313131;
  clear: both;
  justify-content: space-between;
}
.text-input {
  width: 100%;
}
.suscribe {
  align-self: center;
  color: white;
  font-weight: bold;
  font-family: fantasy;
}

.column-footer {
  width: 100%;
}

.copy {
  padding-top: 25px;
  font-weight: bold;
}

.social i {
  color: #fff;
  font-size: 40px;
  margin: 10px;
  padding-top: 10px;
}

.social i:hover {
  color: #f1da36;
} */
/* Product Detail */

h4 {
  font-weight: 700;
}
i.icon {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

/* SLIDE */

/* button {
	border: none;
	border-radius: 5px;
	padding: .5rem 1rem;
	background-color: rgb(216, 213, 36);
	color: white;
	margin: 1rem 0;
	font-size: 1rem;
} */

.wrapper {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
}

.input {
  appearance: none;
  z-index: 100;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  background: rgb(255, 221, 30);
  color: #f1da36;
  border-radius: 50%;
  cursor: pointer;
}

.input:last-of-type {
  margin: 0;
}

.input:focus {
  outline: none;
}

.input:checked {
  background: #f1da36;
  color: #f1da36;
}

.input + * {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform ease-in-out 400ms;
  border-radius: 5px;
  overflow: hidden;
  background: #ddd;
}

.input + *[aria-label]:before {
  content: attr(aria-label);
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  color: white;
  z-index: 1;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input:checked + * {
  transform: translateX(0);
  z-index: 1;
}

.input + * + *:not(input[type="radio"]) {
  display: none;
}

/* ARROWS */

.input:before {
  display: none !important;
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background: orange;
  border-radius: 50%;
}

.input:after {
  display: none !important;
  content: "";
  position: absolute;
  top: calc(50% + 1rem);
  left: 2rem;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
  transform: translate(-25%, -50%) rotate(45deg);
}

.input:checked:before,
input:checked:after {
  display: none;
}

.input:checked + * + input:before {
  left: calc(100% - 3rem);
}

.input:checked + * + input:after {
  left: calc(100% - 2rem);
  transform: translate(-75%, -50%) rotate(-135deg);
}

.input:checked + * + input + * ~ input:before,
.input:checked + * + input + * ~ input:after {
  display: none;
}

.input:last-of-type:before {
  background: green;
}

/*Fin Slide  */

.covid {
  margin: 10px;
}

/* Productos cuidados especiales */

.productos-especiales {
  margin: 15px;
}

/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  padding: 10px;
} */

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.mainProd {
  /* border: #222 2px solid; */
  border-radius: 8px;
}

.primer-prod {
  align-self: center;
  text-align: center;
}

.segundo-prod {
  align-self: center;
  text-align: center;
}

.tercer-prod {
  align-self: center;
  text-align: center;
}

/* Final prods especiales */

.cajaFinal {
  bottom: unset;
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.email {
  background-color: white;
  border-radius: unset;
  width: unset;
  height: unset;
}

.contact {
  margin-left: 10px;
  justify-content: center;
  display: grid;
}

.contact-form {
  display: flex;
}

.datos1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  padding: 20px;
}

.datos2 {
  display: grid;
  justify-content: flex-end;
  align-self: flex-start;
  padding: 20px;
}
