/*====== Basics ======*/
@import url("https://fonts.coogleapis.com/css?family=Poppins:400,500,600,700&display=sawp");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content-fluid {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}

.row {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}
/* CUERPO */
body {
  background-image: url("/img/fondos/fondo-clarito2.jpg");
  /* font-weight: bold; */
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  /* font-size: 1.5rem; */
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

/*====================SIDE-NAVBAR====================*/

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  background: #1b1b1b;
}

.sidebar .text {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}

nav ul {
  height: 70%;
  width: 100%;
  list-style: none;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-size: 500;
  display: block;
  width: 100%;
  border-left: transparent;
}

nav ul li.active a {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .op-btn-show.show {
  display: block;
}

nav ul .op-btn2-show.show2 {
  display: block;
}

nav ul ul li {
  line-height: 35px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li.active ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: cyan !important;
  background: #1e1e1e !important;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

/* NAVBAR */

nav {
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-logo img {
  height: 50px;
  margin-right: 10px;
}

nav ul li.logo {
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}

nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}

nav ul div.items a {
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}

nav ul div.items a:hover {
  color: cyan;
}

nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}

nav ul .search-icon input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
}

nav ul .search-icon .icon:hover {
  background: #f1da36;
}

nav ul .search-icon .icon span {
  color: #222222;
  font-size: 18px;
}

nav ul li.btn {
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}

nav ul li.btn span {
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  cursor: pointer;
  border-radius: 5px;
}

nav ul li.btn span.show:before {
  content: "\f00d";
}

@media screen and (max-width: 920px) {
  nav ul li.btn {
    display: block;
  }

  nav {
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  .search-icon {
    flex-direction: row-reverse;
  }
  nav ul div.items {
    z-index: -1;
    position: fixed;
    top: -320px;
    background: #222222;
    width: 100%;
    right: 0;
    display: inline-block;
    transition: 0.4s;
  }

  nav ul div.items.show {
    top: 60px;
  }

  nav ul div.items li {
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a {
    font-size: 19px;
  }
}

@media screen and (max-width: 920px) {
  nav {
    padding: 10px 40px 10px 40px;
  }

  nav ul li.logo {
    display: none;
  }

  nav ul li.items {
    flex: 4;
  }
}
.cuerpo {
  height: 500px;
  color: red;
}

/* CUERPO */
h2 {
  margin-left: 50px;
  margin-top: 20px;
  /* font-size: 2rem; */
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.covid {
  margin: 10px;
}

.box1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

/* Productos cuidados especiales */

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  color: #151515;
  padding: 5px;
  margin-bottom: 5px;
}

.productos-especiales {
  margin: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  
}

.mainProd {
  border-radius: 8px;
  box-shadow: 2px 2px 10px #666;

}

.primer-prod {
  align-self: center;
  text-align: center;
}

.segundo-prod {
  align-self: center;
  text-align: center;
}

.tercer-prod {
  align-self: center;
  text-align: center;
}

/* Final prods especiales */


/* PRODUCTS */
.box2 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3%;
}
.tit-productos h2 {
  width: 100%;
}

.tarjeta {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 397px;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.tarjeta a {
  display: block;
}
.prod-img {
  display: flex;
  width: 100%;
}
figure {
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 200px;
}
.cuerpo-tarjeta {
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 157px;
  line-height: 2;
  font-size: 20px;
  text-align: center;
}
.tit-h2 {
  font-weight: 700;
  margin: -15px 0 auto 0;
}
.boton-carrito {
  background-color: rgb(54, 50, 50);
  border-radius: 15px;
  color: honeydew;
  height: 5vh;
  width: 20vh;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .box2 {
    max-width: 720px;
  }
  .products-container {
    margin-left: 45px;
    flex-wrap: wrap;
    display: flex;
  }
  .prod-container-tarj {
    overflow: hidden;
  }
  .tarjeta {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  .cuerpo-tarjeta {
    font-size: 18px;
    line-height: 2rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .box2 {
    max-width: 1180px;
  }
  .tarjeta {
    float: left;
    width: 23%;
    margin-right: 2%;
  }
}
/* END PRODUCTS */

/* PRODUCTDETAIL */
.products-detail {
  display: flex;
  justify-content: space-around;
}
.pp-dd {
  display: flex;
  justify-content: center;
}
.products-title {
  font-size: 1.5em;
  font-weight: 400;
  color: rgb(36, 34, 34);
  padding: 0 20px 0 0;
  text-align: left;
}
.prod-detail {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  left: 4vw;
  position: relative;
}
article {
  display: inline-flex;
  flex-direction: column;
  color: #000;
  font-size: 1.3rem;
}
.descrip-detail article p {
  text-align: center;
  color: #000;
}
#desc-price-detail {
  text-align: center;
  color: #000;
}

.img-prod-detail {
  padding: 0 40px 0 20px;
}
.boton-carrito-detail {
  background-color: rgb(54, 50, 50);
  border-radius: 15px;
  color: honeydew;
  height: 5vh;
  width: 30vh;
  align-self: center;
  font-size: 15px;
}
.m-1 {
  align-self: center;
  margin: 2%;
  color: #000;
}
i.icon {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #000;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .box2 {
    max-width: 1180;
  }
  .prod-detail {
    flex-wrap: nowrap;
    left: 4vw;
    position: relative;
  }
  .descript-detail,
  .boton-carrito-detail,
  .m-1 {
    align-self: flex-start;
  }
  #desc-price-detail {
    text-align: left;
    margin: 4vh;
  }
}
/*=== FIN PRODUCTDETAIL ===*/

/*=== PRODUCTADD (formulario) ===*/
.cont-prod-create {
  margin-left: 250px;
}
.tit-product-create {
  margin: 5% 5% 8% 5%;
}
.products-create {
  display: flex;
  justify-content: center;
}
.prod-create-box {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.form-label {
  color: black;
  display: inline-block;
  font-size: 1.4rem;
}
.form-input {
  display: block;
  width: 70%;
  margin-bottom: 20px;
  border-radius: 8px;
  border: solid 1px gray;
  height: 25px;
}
.prod-create-button {
  display: flex;
  justify-content: right;
  padding: 20px;
}
.btn-guardar {
  background-color: rgb(80, 71, 71);
  border-radius: 8px;
  padding: 3px;
  font-size: 18px;
}
.btn-agregar {
  background-color: rgb(38, 105, 38);
  border-radius: 8px;
  padding: 3px;
  font-size: 18px;
}
.btn-cancelar {
  background-color: rgb(138, 50, 50);
  border-radius: 8px;
  padding: 3px;
  font-size: 18px;
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .contain-prod-create {
    max-width: 1180;
    display: inline-flex;
    justify-content: center;
  }
}
/*=== Fin PRODUCTADD ===*/

/*== PRODUCTCART ==*/
.container-carrito {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  color: black;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin: 10%;
  padding: 2%;
}
.container-tit-carrito {
  padding: 20px;
  text-align: center;
}
.prod-cart-detalle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.product-cart-item {
  display: flex;
}
.img-cart {
  border: 1px solid #f0f0f0;
  display: inline-block;
  max-width: 100%;
  height: 100px;
}
.prod-cart-item-descrip {
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 16px;
}
.prod-cart-action-list {
  display: flex;
  font-size: 12px;
  justify-content: center;
}
#action-list {
  color: #6f6a6a;
}
.product-cart-item-price,
.product-cart-item-cant,
.cont-compra {
  text-align: center;
}
.decrease,
.increase,
.btn-continuar-compra {
  background-color: #7e7171;
}
.inputCant {
  width: 12%;
  border-radius: 7px;
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-carrito {
    max-width: 1180;
    margin: 5%;
  }
  .container-tit-carrito {
    font-size: 25px;
  }
  .img-cart {
    border: 1px solid #f0f0f0;
    display: inline-block;
    max-width: 100%;
    height: 200px;
  }
}

/* REGISTER-LOGIN */

.hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: lavender;
  padding: 5px;
  overflow: hidden;
  border-radius: 30px;
}

.button-box {
  width: 225px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  color: #262626;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 15px;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 115px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  color: black;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  border-left: 0;
  border-right: 0;
  outline: none;
  background: transparent;
  font-size: 15px;
}

.submit-btn {
  color: #262626;
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin: 20px auto;
  position: relative;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 30px 10px 30px 0;
}

.rec-contra {
  color: black;
  font-size: 15px;
  position: relative;
}

#login {
  left: 50px;
}

#registro {
  left: 50px;
}

#errores{
  color: red;
}

/* Footer */

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f1da36;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #f1da36;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #f1da36;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form #msgForm {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input:focus,
.right form #msgForm:focus {
  outline-color: #3498db;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.right form .btn button:hover {
  background: #f1da36;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
  color: #f1da36;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    margin: 5px 0;
  }
}
/* FIN FOOTER  */

/* SLIDE */

#slide {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 70%;
}

#slide ul {
  position: relative;
  left: 0%;
  margin: auto;
  height: auto;
  clear: both;
  display: table;
}

#slide ul li {
  position: relative;
  float: left;
  width: 25%;
}

#slide ul li img {
  width: 100%;
}

#slide #paginacion {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  bottom: 10px;
  left: 0;
  z-index: 1;
}

#slide #paginacion li {
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  opacity: 0.5;
  color: white;
  text-shadow: 0px 0px 5px #333;
}

#slide #paginacion li:first-child {
  opacity: 1;
}

#slide .flechas {
  position: absolute;
  font-size: 2em;
  color: white;
  cursor: pointer;
  z-index: 2;
}

#slide #retroceder {
  top: 45%;
  left: 2%;
}

#slide #avanzar {
  top: 45%;
  right: 2%;
}

#slide ul li .texto-slide {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  text-align: center;
  z-index: 1;
  color: white;
}

#slide ul li .texto-slide h1 {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
}
#slide ul li .texto-slide h3 {
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

/*Fin Slide  */

/* -- PERFIL DE USUARIO -- */
.perfil-usuario {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10%;
}
.bienvenida {
height: 100%;
}
.contenido-form-perfil {
  display: flex;
  justify-content: center;
}
.form-perfil {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}
