<nav class="sidebar">
    <div class="text"><a href="/users/login">Menu Administardor</a></div>
    <ul>
        <li><a href="#">Usuarios</a>
            <ul class="op-btn-show">
                <li><a href="#">Agregar</a></li>
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
            </ul></li>
        <li>
            <a href="#" class="op-btn">Productos
                <span class="fas fa-caret-down first"></span>
            </a>
            <ul class="op-btn-show">
                <li><a href="/products/create">Agregar</a></li>
                <li><a href="/products/productsAdmin">Editar</a></li>
                <li><a href="/products/detailAdmin">Eliminar</a></li>
            </ul>
        </li>
        <li><a href="/">Home</a></li>
    </ul>
    <div class="btn-logout-adm">
        <form action="/users/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</nav>

<script>
    $(".op-btn").click(function () {
        $("nav ul .op-btn-show").toggleClass("show");
        $("nav ul .first").toggleClass("rotate");
    });
    $(".op-btn2").click(function () {
        $("nav ul .op-btn2-show").toggleClass("show2");
        $("nav ul .second").toggleClass("rotate");
    });
    $("nav ul li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });
</script>