<body>
    <nav>
        <ul>
            <div class="img-logo">
                <li><a href="/"><img src="/img/logos/DH_style.png"></a></li>
                <li class="logo">DHStyle</li>
            </div>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/users/login">LogIn</a></li>
                <li><a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                <form action="/products/search" method="GET" class="form-search" >
                    <input type="text" name="buscar" class="search-icon" placeholder="buscar producto">
                    <label class="icon">
                        <span class="fas fa-search"></span>
                    </label>
                </form>
            </div>
            <!-- <li class="search-icon">
                <input type="search" placeholder="Buscar un producto">
                
            </li> -->
        </ul>
    </nav>