<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/css/normalize.css">

    <script src="https://kit.fontawesome.com/715d1a4b1b.js" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">

    <link rel="icon" href="/img/logos/DH_style_positivo.ico">
    <title> - DH Style</title>
</head>