<body>
    <nav>
        <ul>
            <div class="img-logo">
                <li><a href="/"><img src="/img/logos/DH_style.png" ></a></li>
            </div>
            <li class="logo"><a href="/">DHStyle</a></li>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/users/login">LogIn</a></li>
                <li><a href="/products/create">Admin</a></li>
                <li><a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </div>
            <form action="/products/search" method="GET">
                <input type="text" name="buscar" class="form-control" placeholder="buscar producto">
            </form>
            <!-- <li class="search-icon">
                <input type="search" placeholder="Buscar un producto">
                <label class="icon">
                    <span class="fas fa-search"></span>
                
                </label>
            </li> -->
        </ul>
    </nav>