<body>
    <nav>
        <ul>
            <div class="img-logo">
                <li><a href="/"><img src="/img/logos/DH_style.png"></a></li>
                <li class="logo">DHStyle</li>
            </div>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/users/login">Conectarse</a></li>
                <li>
                    <div class='carrito'>

                        <p class="carrito-total">
                            <a><i class="fas fa-shopping-cart"></i></a>
                            <span class="simpleCart_quantity">0</span>
                        </p>
                        <div class="bolsa">
                            <div class="simpleCart_items"></div>
                            <span class="simpleCart_total"></span>
                            <div class="opciones">
                                <a class="boton simpleCart_empty" href="javascript:void(0)">Vaciar carrito</a>
                                <a class="boton simpleCart_checkout" href="#">Pagar</a>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="search-icon">
                    <form action="/products/search" method="GET" class="form-search">
                        <input type="text" name="buscar" class="search-icon" placeholder="buscar producto">
                        <label class="icon">
                            <span class="fas fa-search"></span>
                        </label>
                    </form>
                </li>
            </div>
        </ul>
    </nav>