<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/56b68d7c9c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet"> 
    
    <link rel="stylesheet" href="../public/css/style2.css">
    <title>Detalle Productos</title>
</head>
<body>
    <div class="container">

        <!-- Cabecera -->
    <header class="main-header">
        <img class="logo" src="../public/img/logo.png" alt="imagen logo" width="150px">
        
        <nav class="main-nav">
            <a href="">Home</a> &nbsp; | &nbsp;
            <a href="../views/productDetail.ejs">Productos</a> &nbsp; | &nbsp;
            <a href="">Promociones</a> &nbsp; | &nbsp;
            <a href="">Registrate</a> &nbsp; | &nbsp;
            <a href="">LogIn</a> &nbsp; | &nbsp;
            <a href=""><i class="fas fa-shopping-cart"></i></a>
        </nav>

        <!-- busqueda -->
        <form class="buscador" action="index.html" method="get">
            <input type="search" id="buscar" name="buscar">
            <button type="submit">Buscar</button>
        </form>
    </header>
    </div>
<!-- fin cabecera -->

<!-- Detalle productos -->
<div class="container prod">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">NOMBRE DEL PRODUCTO</h2>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="">
                    <figure class="product-box_image">
                        <img src="../public/img/shampoo libre.jpg" alt="imagen de producto" width="250">
                    </figure>
                    <article class="product-box_data">
                        <h2>$100</h2>
                        <span>40% OFF</span>
                        <p>Shampo Libre Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, iusto. Lorem ipsum, dolor sit amet.</p>
                        <i class="fas fa-truck"></i>
                    </article>
                </a>
            </section>
        </div>

    <!-- Footer -->
    <footer id="footer">
        <img src="../public/img/logo.png" alt="logo" class="logo" width="50">
        <!-- espacio en blanco -->
        <p class="copy">
            <i class="far fa-registered" 10></i> 2020 DH Style  &nbsp; - &nbsp;
             <span class="redes"> Seguinos en nuestras redes &nbsp;&nbsp;
                <a class="social" href="https://www.facebook.com/"></a><i class="fab fa-facebook-square"></i> &nbsp;
                <a class="social" href="https://www.instagram.com/"></a><i class="fab fa-instagram"></i>
             </span>
        </p>
    </footer>
    <!-- Fin Footer -->
    </body>
    </html>