body{
    background-color: black;
    font-weight: bold;
    color: white;
}

.header {
    background-color: rgba(106, 17, 179, 0.6);
    height: 150px;
    text-align: center;
    font-size: 125px;    
}

/* .logo {
    position: absolute;
    right: 50%;
} */

#menu {
    position: right, top;
    font-weight: bold;
    color: white;
    background-color: rgba(white, white, white, 0.2);
}

.buscador {
    position: absolute;
    right: 0%;
    margin-right: 20px;
}

h2{
    position: relative;
    top: 170px;
    text-align: center;

}

marquee {
    position: relative;
    top:200px;
    margin-right: 250px;
    margin-left: 400px;

}
