<%-include("../partials/head", {title: 'Admin'})  %>
<%-include("../partials/admin")  %>

<div class="vista-adm">
    <h1 class="bienvenido-adm">Bienvenido Administrador: <%= usuario.nombre %></h1>
</div>

<div class="btn-logout-adm">
    <form action="/users/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</div>