<%-include("./partials/_header")  %>


<<<<<<< HEAD
<div class="container">

    <h2>Lo más vendido</h2>

    <marquee>
        <img src="../img/shampoo libre.jpg" width="200px">
        <img src="../img/shampoo liso.jpg" width="200px">
        <img src="../img/shampoo oleosidad.jpg" width="200px">
        <img src="../img/shampoo vivo.jpg" width="200px">
    </marquee>


</div>
<br><br>
<br><br>

<div class="container">

    <h2>Promociones</h2>

    <marquee>
        <img src="../img/shampoo libre.jpg" width="200px">
        <img src="../img/shampoo oleosidad.jpg" width="200px">
        <img src="../img/shampoo vivo.jpg" width="200px">
        <img src="../img/shampoo libre.jpg" width="200px">
    </marquee>


=======
        <div class="box1">
            <span><h2>Promociones</h2></span>
            <marquee>
            <img src="../img/promo jabones exfoliantes.jpg" width="200px">
            <img src="../img/promo jabones niños.jpg" width="200px">
            <img src="../img/shampoo oleosidad.jpg" width="200px">
            <img src="../img/shampoo vivo.jpg" width="200px">
            <img src="../img/perfume clasico femenino.jpg" width="200px">
            <img src="../img/perfume clasico hombre.jpg" width="200px">
            <img src="../img/perfume verum masculino.jpg" width="200px">

            </marquee>
        </div>

        <div class="box2">
            <span><h2>Productos</h2></span>
            <img src="../img/shampoo libre.jpg" width="200px" margin="2px">
            <img src="../img/shampoo oleosidad.jpg" width="200px">
            <img src="../img/shampoo vivo.jpg" width="200px">
            <br><br>
            <img src="../img/jabon avellana.jpg" width="200px">
            <img src="../img/jabon flor.jpg" width="200px" margin="2px">
            <img src="../img/jabon frutas.jpg" width="200px">
            <img src="../img/jabon limon.jpg" width="200px">
            <br><br>
            <img src="../img/perfume clasico hombre.jpg" width="200px">
            <img src="../img/perfume nox masculino.jpg" width="200px">
            <img src="../img/perfume verum masculino.jpg" width="200px">
        </div>
    
    </div>
>>>>>>> 63678cb6cd13a594dfae2aa2db4557179c531c0c

</div>



<%-include("./partials/_footer")  %>