    <%-include("./partials/header")  %>

    <div class="container">
        <div class="box1">
            <span>
                <h2>Promociones</h2>
            </span>
            <marquee>
                <img src="../img/promo jabones exfoliantes.jpg" width="200px">
                <img src="../img/promo jabones niños.jpg" width="200px">
                <img src="../img/shampoo oleosidad.jpg" width="200px">
                <img src="../img/shampoo vivo.jpg" width="200px">
                <img src="../img/perfume clasico femenino.jpg" width="200px">
                <img src="../img/perfume clasico hombre.jpg" width="200px">
                <img src="../img/perfume verum masculino.jpg" width="200px">
                
            </marquee>
        </div>
        
        <div class="box2">
            <span>
                <h2>Productos</h2>
            </span>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/shampoo libre.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Shampoo Libre</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/shampoo oleosidad.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Shampoo Oleosidad</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/shampoo liso.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Shampoo Liso</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/shampoo vivo.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Shampoo Vivo</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                                </div>
                            </div>
                        </div>
            
            <div class="container">
                <div class="row">   
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/jabon avellana.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Jabón Avellana</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/jabon flor.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Jabón Flor de Liz</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger align-self-center"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/jabon frutas.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Jabón Frutos Rojos</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="../img/jabon limon.jpg" class="responsive">
                            <div class="card-body" style="color: black;">
                                <h5>Jabón Limón</h5>
                                <p>$100.00</p>
                                <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                                    carrito</button>
                                </div>
                            </div>
                        </div>        
                                        
                
                    </div>
                    </div>
                    </div>
                    </div>                  
                   </div>
                   </div>            
                                            
                                
                    
                        
                        
                        <%-include("./partials/footer")  %>