<%-include("./partials/_header")  %>


<div class="container">

    <h2>Lo más vendido</h2>

    <marquee>
        <img src="../img/shampoo libre.jpg" width="200px">
        <img src="../img/shampoo liso.jpg" width="200px">
        <img src="../img/shampoo oleosidad.jpg" width="200px">
        <img src="../img/shampoo vivo.jpg" width="200px">
    </marquee>


</div>
<br><br>
<br><br>

<div class="container">

    <h2>Promociones</h2>

    <marquee>
        <img src="../img/shampoo libre.jpg" width="200px">
        <img src="../img/shampoo oleosidad.jpg" width="200px">
        <img src="../img/shampoo vivo.jpg" width="200px">
        <img src="../img/shampoo libre.jpg" width="200px">
    </marquee>



</div>



<%-include("./partials/_footer")  %>