<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
  <header>
    <div class="header"><img src="../img/DH_style.png" height="120"></div>
      <nav class="main-nav">
      <a href="../views/index.ejs">Home</a> &nbsp; | &nbsp;
      <a href="../views/productDetail.ejs">Productos</a> &nbsp; | &nbsp;
      <a href="">Promociones</a> &nbsp; | &nbsp;
      <a href="../views/register.ejs">Registrarse</a> &nbsp;  | &nbsp;
      <a href="../views/login.ejs">Conectarse</a>&nbsp;  | &nbsp;
      <a href="../views/productCart.ejs"><img src="../public/img/cart.png" width="18px"></a>
  
      </nav>

       <form class="buscador" action="index.html" method="get">
       <input type="search" id="buscar" name="buscar">
       <button type="submit" class="btn btn-outline-light">Buscar</button>

    </form>
</header>

    <div class="login">
        <h3>Conectarse</h3>
        <form>
          <br>
          <input  type="email" placeholder="Email" required>
          <br>
          <input type="password" placeholder="Contraseña" required>
        </form>
        <br>
        <a href="#" class="link">
          Olvidaste la contraseña?
        </a>
        <br><br>
        <button type="submit" class="btn btn-outline-light">
          <span>Conectarse</span>
        </button>
     
       
       
      </div>



    </body>
    </html>