<%- include ('./partials/_header')  %> 

    <div class="login">
        <h3>Conectarse</h3>
        <form>
          <br>
          <input  type="email" placeholder="Email" required>
          <br>
          <input type="password" placeholder="Contraseña" required>
        </form>
        <br>
        <a href="#" class="link">
          Olvidaste la contraseña?
        </a>
        <br><br>
        <button type="submit" class="btn btn-outline-light">
          <span>Conectarse</span>
        </button>
     
       
       
      </div>



    </body>
    </html>