<%-include("./partials/_header")  %>
    
    <!-- Productos -->
    <main class="container-prod d-flex p-5">
        <div class="row" style="width:80%">
            <div class="col-12">
                <article class="products-title ml-3">NOMBRE DEL PRODUCTO</article>
            </div>
            <div class="col-12 d-flex">
                <section class="product-detail d-flex">
                    <figure class="product-box_image">
                        <img src="/img/shampoo libre.jpg" alt="imagen de producto" width="250">
                    </figure>
                    <article class="product-box-inf flex-norow ml-3">
                        <p class="d-flex align-items-center text-justify">Shampo Libre es Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ut saepe laborum beatae mollitia unde vero! Dolorum error laudantium, repudiandae minima iusto laboriosam debitis non placeat hic!.</p>
                        <br>
                        <p class="d-flex align-items-start">$100</p>
                        <br>
                        <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al
                            carrito</button>
                    </article>
                </section>
            </div>
         </div>
    </main>
    <div class="otros-prod">
        <div class="col-12">
            <article class="products-title ml-3">Otros productos que podrian interesarte</article>
        </div> 
        <div class="col-12 d-flex">
            <section class="product-resumen d-flex">
                <figure class="product-box_image">
                    <img src="/img/shampoo liso.jpg" alt="imagen de producto" width="150">
                    <img src="/img/shampoo oleosidad.jpg" alt="imagen de producto" width="150">
                    <img src="/img/shampoo vivo.jpg" alt="imagen de producto" width="150">
                </figure> 
            </section>         
    </div>
 
<%-include("./partials/_footer")  %>