<%-include("./partials/_header")  %>
    
    <!-- Productos -->
    <main class="container-prod d-flex p-5">
        <div class="row" style="width:80%">
            <div class="col-12">
                <h5 class="products-title ml-3">NOMBRE DEL PRODUCTO</h5>
            </div>
            <div class="col-12 d-flex">
                <section class="product-detail d-flex">
                    <figure class="product-box_image">
                        <img src="/img/shampoo libre.jpg" alt="imagen de producto" width="250">
                    </figure>
                    <article class="product-box-inf flex-norow ml-3">
                        <p class="d-flex align-items-center text-justify">Shampo Libre es Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ut saepe laborum beatae mollitia unde vero! Dolorum error laudantium, repudiandae minima iusto laboriosam debitis non placeat hic!.</p>
                        <br>
                        <p class="d-flex align-items-start">$100</p>
                        <br>
                        <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                    </article>
                </section>
            </div>
         </div>
    </main>
    <div class="container">
        <div class="row">   
            <div class="col-md-3">
                <div class="card">
                    <a href="productDetail"><img src="../img/jabon avellana.jpg" class="responsive"></a>
                    <div class="card-body" style="color: black;">
                        <h5>Jabón Avellana</h5>
                        <p>$100.00</p>
                        <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            <div class="col-md-3">
                <div class="card">
                    <a href="productDetail"><img src="../img/jabon flor.jpg" class="responsive"></a>
                    <div class="card-body" style="color: black;">
                        <h5>Jabón Flor de Liz</h5>
                        <p>$100.00</p>
                        <button class="btn btn-danger align-self-center"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            <div class="col-md-3">
                <div class="card">
                    <a href="productDetail"><img src="../img/jabon frutas.jpg" class="responsive"></a>
                    <div class="card-body" style="color: black;">
                        <h5>Jabón Frutos Rojos</h5>
                        <p>$100.00</p>
                        <button class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
<%-include("./partials/_footer")  %>