<%-include("./partials/_header")  %>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="margin-bottom: 30px; padding-top: 10px;">Carrito de compras</h2>
            </div>
            <div class="col-md-12">
                <table class="table table-striped text-center">

                    <head>
                        <tr>
                            <td>Producto</td>
                            <td>Nombre</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                        </tr>
                    </head>
                    <tbody>
                        <tr>
                            <td width="120"><img src="/img/shampoo libre.jpg" alt="imagen producto" height="100"></td>
                            <td style="vertical-align: middle;">Shapoo libre</td>
                            <td style="vertical-align: middle;">$100</td>
                            <td style="vertical-align: middle;" width="80">1</td>
                            <td style="vertical-align: middle;" width="30"><a href="#" class="btn btn-link"
                                    id="link">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="120"><img src="/img/shampoo liso.jpg" alt="imagen producto" height="100">
                            </td>
                            <td style="vertical-align: middle;">Shapoo liso</td>
                            <td style="vertical-align: middle;">$120</td>
                            <td style="vertical-align: middle;" width="80">3</td>
                            <td style="vertical-align: middle;" width="30"><a href="#" class="btn btn-link"
                                    id="link">Eliminar</a>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="col-md-12">
                <div class="float-right">
                    <a href="#" class="btn btn-link" id="link">Seguir comprando</a>
                    <a href="#" class="btn btn-success">Continuar</a>
                </div>
            </div>
        </div>
    </div>
    <br>

</body>

<%-include("./partials/_footer")  %>