<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
  <header>
    <!-- <img src="../img/dhs-logo.png" width="150px" class="logo"> -->
    <div class="header">DHS</div>
    <!-- <br><br><br><br><br><br><br><br><br><br> -->
        <nav class="main-nav">
        <a href="../html/index.ejs">Home</a> &nbsp; | &nbsp;
        <a href="../html/productDetail.ejs">Productos</a> &nbsp; | &nbsp;
        <a href="">Promociones</a> &nbsp; | &nbsp;
        <a href="../html/registro.ejs">Registrarse</a> &nbsp;  | &nbsp;
        <a href="">Log In</a>&nbsp;  | &nbsp;
        <a href="../html/productCart.ejs"><img src="../img/cart.png.png" width="18px"></a>
    
    </nav>

       <form class="buscador" action="index.html" method="get">
       <input type="search" id="buscar" name="buscar">
       <button type="submit">Buscar</button>

    </form>
</header>

    <div class="container">
        <h3>Login</h3>
        <form>
          <input  type="text" class="email" placeholder="email">
          <br/>
          <input type="text" class="pwd" placeholder="password">
        </form>
        <a href="#" class="link">
          Olvidaste la contraseña?
        </a>
        <br/>
        <button class="register">
          <span>Register</span>
        </button>
        <button class="signin">
          <span>Sign in</span>
        </button>
     
       
       
      </div>



    </body>
    </html>