<%-include("./partials/_header")  %>

<div class="registro">
  <h3>Registrarse</h3>
  <form>
    <br>
    <input type="text" placeholder="Nombre" required>
    <br>
    <input type="text" placeholder="Apellido" required>
    <br>
    <input type="text" placeholder="Dirección" required>
    <br>
    <input type="email" placeholder="Email" required>
    <br>
    <input type="password" placeholder="Contraseña" required>
    <br>
  </form>
  <br><br>
  <button type="submit" class="btn btn-outline-light">
    <span>Registrarse</span>
  </button>
  <button type="reset" class="btn btn-outline-light">
    <span>Borrar</span>
  </button>



</div>



<%-include("./partials/_footer")  %>