<<<<<<< HEAD
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
  <header>
    <div class="header">DHS</div>

    <div class="header"><img src="../img/DH_style.png" height="120"></div>
      <nav class="main-nav">
      <a href="../views/index.ejs">Home</a> &nbsp; | &nbsp;
      <a href="../views/productDetail.ejs">Productos</a> &nbsp; | &nbsp;
      <a href="">Promociones</a> &nbsp; | &nbsp;
      <a href="../views/register.ejs">Registrarse</a> &nbsp;  | &nbsp;
      <a href="../views/login.ejs">Conectarse</a>&nbsp;  | &nbsp;
      <a href="../views/productCart.ejs"><img src="../public/img/cart.png" width="18px"></a>

    </nav>

       <form class="buscador" action="index.html" method="get">
       <input type="search" id="buscar" name="buscar">
       <button type="submit">Buscar</button>

    </form>
</headgiter>
=======
<%-include("./partials/_header")  %>
>>>>>>> acc1ac29fa2262ba8bfe3728ad440181a1ee635c

<div class="registro">
  <h3>Registrarse</h3>
  <form>
    <br>
    <input type="text" placeholder="Nombre" required>
    <br>
    <input type="text" placeholder="Apellido" required>
    <br>
    <input type="text" placeholder="Dirección" required>
    <br>
    <input type="email" placeholder="Email" required>
    <br>
    <input type="password" placeholder="Contraseña" required>
    <br>
  </form>
  <br><br>
  <button type="submit" class="btn btn-outline-light">
    <span>Registrarse</span>
  </button>
  <button type="reset" class="btn btn-outline-light">
    <span>Borrar</span>
  </button>



</div>



<%-include("./partials/_footer")  %>