<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">

    <link href="/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/715d1a4b1b.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>

    <header class="bg-dark">
        <div class="logo">
            <img src="/img/DH_style.png" height="120">
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" style="color:white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white" href="register">Registro/Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white" href="productDetail">Productos</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a href="productCart"><i class="fas fa-shopping-cart fa-lg" style="padding: 11px;"></i></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos"
                            aria-label="Search">
                        <button class="btn btn-light my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
        </div>

    </header>