<%-include("./partials/head", {title: 'Inicio'})  %>
<%-include("./partials/header")  %>



<div id="slide">
  <ul>
    <li> <img src="/img/products/promo1.jpg">
      <div class="texto-slide">
        <h1>Titulo</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
    <li> <img src="/img/products/promo2.jpg">
      <div class="texto-slide">
        <h1>Titulo</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
    <li> <img src="/img/products/promo3-jabones2.jpg">
      <div class="texto-slide">
        <h1>Titulo</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
    <li> <img src="/img/products/promo4-jabones.jpg">
      <div class="texto-slide">
        <h1>Titulo</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
  </ul>

  <ol id="paginacion">
    <li item="1"><span class="fa fa-circle"></span></li>
    <li item="2"><span class="fa fa-circle"></span></li>
    <li item="3"><span class="fa fa-circle"></span></li>
    <li item="4"><span class="fa fa-circle"></span></li>
  </ol>
  <div class="flechas" id="retroceder">
    <span class="fa fa-chevron-left"></span>
  </div>
  <div class="flechas" id="avanzar">
    <span class="fa fa-chevron-right"></span>
  </div>
</div>

</div>


<script src="../scripts/slide.min.js"></script>

<div class="covid"><a
    href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19?utm_source=alerta_20200424&utm_medium=web&utm_campaign=campana_coronavirus"><img
      src="../img/logos/banner-cov.png" width="100%"></a></div>

<div class="container">
  <div class="box1">
    <span>
      <h2> Productos que ayudan a mantenerte sano</h2><br>
    </span>
  </div>

</div>


<div class='productos-especiales'>
  <div class='row'>
    <div class='column'>
      <div class='primer-prod'>
        <h3>Alcohol en Gel</h3>
        <img class="mainProd" src="../img/products/alcoholGel.jpg" width="250px" height="250px">
      </div>
    </div>
    <div class='column'>
      <div class='segundo-prod'>
        <h3>Alcohol Líquido</h3>
        <img class="mainProd" src="../img/products/alcoholLiquido.jpg" width="250px" height="250px">
      </div>
    </div>
    <div class='column'>
      <div class='tercer-prod'>
        <h3>Jabón Líquido</h3>
        <img class="mainProd" src="../img/products/jabonLiquido.jpg" width="250px" height="250px">
      </div>
    </div>
  </div>
</div>
</div>





<%-include("./partials/footer")  %>