<%-include("./partials/head", {title: 'Inicio'})  %>
<%-include("./partials/header")  %>

<body>
    <div class="container">
        <div class="box1">
            <span>
                <h2>Promociones</h2>
            </span>
            <marquee>
                <img src="../img/products/promo4-jabones.jpg" width="800px" height="500px">
                <img src="../img/products/promo3-jabones2.jpg" width="800px" height="500px">
                <img src="../img/products/promo1.jpg" width="800px" height="500px">
                <img src="../img/products/promo2.jpg" width="800px" height="500px">
            </marquee>
        </div>
    </div>
</body>

<%-include("./partials/footer")  %>