<%-include("./partials/head", {title: 'Inicio'})  %>
<%-include("./partials/header")  %>

<div id="slide">
  <ul>
    <li> <img src="/img/products/promo1.jpg">
      <div class="texto-slide">
        <h1>Promo Jabones Líquidos</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
    <li> <img src="/img/products/promo2.jpg">
      <div class="texto-slide">
        <h1>Pack Shampoo + Acondicionador</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
    <li> <img src="/img/products/promo3-jabones2.jpg">
      <div class="texto-slide">
        <h1>Promo Jabones en barra naturales</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
    <li> <img src="/img/products/promo4-jabones.jpg">
      <div class="texto-slide">
        <h1>Promo Jabones florales</h1>
        <h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum</h3>
      </div>
    </li>
  </ul>

  <ol id="paginacion">
    <li item="1"><span class="fa fa-circle"></span></li>
    <li item="2"><span class="fa fa-circle"></span></li>
    <li item="3"><span class="fa fa-circle"></span></li>
    <li item="4"><span class="fa fa-circle"></span></li>
  </ol>
  <div class="flechas" id="retroceder">
    <span class="fa fa-chevron-left"></span>
  </div>
  <div class="flechas" id="avanzar">
    <span class="fa fa-chevron-right"></span>
  </div>
</div>

</div>




<div class="covid">
  <h2 class="tit-covid">Ante la situación actual, te recordamos medidas de prevención básicas</h2>
  <br>
  <img class="img-covid" src="../img/logos/covid-prevention.jpg" width="30%">
</div>

<div class="covid">
  <h2 class="tit-covid"> Para ello, DHStyle tiene los siguientes productos para vos</h2><br>

  <div class='productos-especiales'>
    <div class='row'>
      <div class='column'>
          <img class="mainProd" src="../img/products/alcoholGel.jpg" width="250px" height="250px">
      </div>
      <div class='column'>
          <img class="mainProd" src="../img/products/alcoholLiquido.jpg" width="250px" height="250px">
      </div>
      <!-- <div class='column'>
        <div class='tercer-prod'>
          <h3>Jabón Líquido</h3>
          <img class="mainProd" src="../img/products/jabonLiquido.jpg" width="250px" height="250px">
        </div>
      </div> -->
    </div>
  </div>
</div>
</div>


<%-include("./partials/footer")  %>