<%-include("./partials/head", {title: 'Inicio'})  %>
<%-include("./partials/header")  %>

<body>
    <div class="container">
        <div class="box1">
        <span>
            <h2>Promociones</h2>
        </span>
        <marquee>
            <img src="../img/promo jabones exfoliantes.jpg" width="200px">
            <img src="../img/promo jabones niños.jpg" width="200px">
            <img src="../img/shampoo oleosidad.jpg" width="200px">
            <img src="../img/shampoo vivo.jpg" width="200px">
            <img src="../img/perfume clasico femenino.jpg" width="200px">
            <img src="../img/perfume clasico hombre.jpg" width="200px">
            <img src="../img/perfume verum masculino.jpg" width="200px">

        </marquee>
    </div>

    <div class="box2">
        <span>
            <h2>Productos</h2>
        </span>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card align-items-center">
                        <a href="products/productDetail"><img src="../img/shampoo libre.jpg" style="width: 200px;"
                                class="responsive"></a>
                        <div class="card-body" style="color: black;">
                            <h5>Shampoo Libre</h5>
                            <p>$100.00</p>
                            <button class="btn btn-dark"><i class="fa fa-shopping-cart"></i>Agregar al
                                carrito</button>
                            </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card align-items-center">
                        <a href="products/productDetail"><img src="../img/shampoo oleosidad.jpg" style="width: 200px;"
                                class="responsive"></a>
                        <div class="card-body" style="color: black;">
                            <h5>Shampoo Oleosidad</h5>
                            <p>$100.00</p>
                            <button class="btn btn-dark"><i class="fa fa-shopping-cart"></i>Agregar al
                                carrito</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card align-items-center">
                        <a href="productDetail"><img src="../img/shampoo liso.jpg" style="width: 200px;"
                                class="responsive"></a>
                        <div class="card-body" style="color: black;">
                            <h5>Shampoo Liso</h5>
                            <p>$100.00</p>
                            <button class="btn btn-dark"><i class="fa fa-shopping-cart"></i>Agregar al
                                carrito</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card align-items-center">
                        <a href="productDetail"><img src="../img/shampoo vivo.jpg" style="width: 200px;"
                                class="responsive"></a>
                                <div class="card-body" style="color: black;">
                            <h5>Shampoo Vivo</h5>
                            <p>$100.00</p>
                            <button class="btn btn-dark"><i class="fa fa-shopping-cart"></i>Agregar al
                                carrito</button>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card align-items-center">
                                <a href="productDetail"><img src="../img/jabon avellana.jpg" style="width: 200px;"
                                        class="responsive"></a>
                                <div class="card-body" style="color: black;">
                                    <h5>Jabón Avellana</h5>
                                    <p>$100.00</p>
                                    <button class="btn btn-dark"><i class="fa fa-shopping-cart"></i>Agregar al
                                        carrito</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card align-items-center">
                                <a href="productDetail"><img src="../img/jabon flor.jpg" style="width: 200px;"
                                        class="responsive"></a>
                                <div class="card-body" style="color: black;">
                                    <h5>Jabón Flor de Liz</h5>
                                    <p>$100.00</p>
                                    <button class="btn btn-dark align-self-center"><i
                                            class="fa fa-shopping-cart"></i>Agregar al
                                        carrito</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card align-items-center">
                                <a href="productDetail"><img src="../img/jabon frutas.jpg" style="width: 200px;"
                                        class="responsive"></a>
                                        <div class="card-body" style="color: black;">
                                    <h5>Jabón Frutos Rojos</h5>
                                    <p>$100.00</p>
                                    <button class="btn btn-dark"><i class="fa fa-shopping-cart"></i>Agregar al
                                        carrito</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card align-items-center">
                                <a href="productDetail"><img src="../img/jabon limon.jpg" style="width: 200px;"
                                    class="responsive"></a>
                                <div class="card-body" style="color: black;">
                                    <h5>Jabón Limón</h5>
                                    <p>$100.00</p>
                                    <button class="btn btn-dark"><i class="fa fa-shopping-cart"></i>Agregar al
                                        carrito</button>
                                    </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<%-include("./partials/footer")  %>