<%-include("./partials/head", {title: 'Admin'})  %>

<nav class="sidebar">
    <div class="text">Menu Administardor</div>
    <ul>
        <li><a href="#">Usuarios</a></li>
        <li>
            <a href="#" class="op-btn">Productos
                <span class="fas fa-caret-down first"></span>
            </a>
            <ul class="op-btn-show">
                <li><a href="#">Modificar producto</a></li>
                <li><a href="#">Eliminar producto</a></li>
            </ul>
        </li>
        <li><a href="/">Home</a></li>


    </ul>
</nav>

<script>
    $(".op-btn").click(function () {
        $("nav ul .op-btn-show").toggleClass("show");
        $("nav ul .first").toggleClass("rotate");
    });
    $(".op-btn2").click(function () {
        $("nav ul .op-btn2-show").toggleClass("show2");
        $("nav ul .second").toggleClass("rotate");
    });
    $("nav ul li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });
</script> -->

<div class="contain-prod-create">
    <div class="">
        <div class="tit-product-create">
            <h5 class="products-title">Creación de productos</h5>
        </div>
        <!-- Agregar productos nuevos -->
        <div class="products-create">
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <div class="prod-create-box">
                    <div class="">
                        <label for="name" class="form-label">Nombre del producto</label><br>
                        <input type="text" id="name" name="name" placeholder=" Ej: jabon de miel" class="form-input">
                    </div>
                    <div class="">
                        <label for="price" class="form-label">Precio</label><br>
                        <input type="text" id="price" name="price" placeholder=" Ej: 120" class="form-input">
                    </div>
                    <div class="">
                        <label for="categoria" class="form-label">Categoría</label><br>
                        <select type="text" id="categoria" name="categoria" class="form-input">
                            <option value="">Selecciona una opción</option>
                            <option value="jabon">jabon</option>
                            <option value="shampoo">shampoo</option>
                            <option value="perfume">perfume</option>
                            <option value="acondicionador">acondicionador</option>
                        </select>
                    </div>
                    <div class="">
                        <label for="cantidad" class="form-label">Cantidad</label><br>
                        <input type="text" id="cantidad" name="cantidad" placeholder="Ej: 20" class="form-input">
                    </div>
                    <div class="">
                        <label for="description" class="form-label">Descripción</label><br>
                        <textarea name="description" id="description" cols="100" rows="7" class="form-input"
                            placeholder="Agrega aqui el detalle del producto"></textarea>
                    </div>
                    <div class="">
                        <label for="image" class="form-label">Selecciona aquí la imagen del producto</label><br>
                        <input class="text-input" name="image" type="file">
                    </div>
                </div>

                <!-- botones -->
                <div class="prod-create-button">
                    <div class="float-right">
                        <button type="submit" class="btn-guardar">Guardar</button>
                        <button type="submit" class="btn-agregar">Agregar otro producto</button>
                        <button type="reset" class="btn-cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>