<%-include("./partials/head", {title: 'Nuestros productos'})  %>
<%-include("./partials/header")  %>

<body>
    <!-- Productos -->
    <main class="container">
        <div class="container d-flex justify-content-lg-center bg-light m-3" style="border-radius:10px">
            <div class="row">
                <div class="col-12">
                  <h5 class="products-title ml-3">Nombre del producto</h5>
                </div>
            <div class="col-10 row justify-content-between lg-nowrap">
                <div class="img-prod-detail col-md-3">
                    <img src="/img/shampoo libre.jpg" alt="imagen de producto" width="250">
                </div>
                <div class="descrip-prod-detail d-flex flex-column col-md-7 pl-4">
                    <div>
                        <h6>Shampoo Libre</h6>
                        <p>Shampoo Libre es Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ut saepe
                            laborum beatae mollitia unde vero! Dolorum error laudantium, repudiandae minima iusto
                            laboriosam debitis non placeat hic!.</p>
                    </div>
                    <div>
                        <p class="">$100</p>
                    </div>
                        <button class="btn btn-dark align-self-baseline">
                            <a href="productCart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button></a>
                    <div class="m-1">
                        <i class="far fa-credit-card"></i><i class="icon"> Pagá en cuotas sin interés</i>
                        <br>
                        <i class="far fa-paper-plane"></i><i class="icon"> Envíos a todo el país</i>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="container bg-light p-4 m-3" style="border-radius:10px">
        <div class="col-12">
            <h6>Otro productos que podrian interesarte</h6>
        </div>
        <div class="row  justify-content-around">
            <div class="col-md-3">
                <div class="card align-items-center">
                    <a href="/products/detail"><img src="../img/jabon avellana.jpg" class="responsive"></a>
                    <div class="card-body" style="color: black;">
                        <h6>Jabón Avellana</h6>
                        <p>$100.00</p>
                        <button class="btn btn-dark btn-sm">
                            <a href="productCart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card align-items-center">
                        <a href="/products/detail"><img src="../img/jabon flor.jpg" class="responsive"></a>
                        <div class="card-body" style="color: black;">
                            <h6>Jabón Flor de Liz</h6>
                            <p>$100.00</p>
                            <button class="btn btn-dark btn-sm">
                                <a href="productCart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card align-items-center">
                        <a href="/products/detail"><img src="../img/jabon frutas.jpg" class="responsive"></a>
                        <div class="card-body" style="color: black;">
                            <h6>Jabón Frutos Rojos</h6>
                            <p>$100.00</p>
                            <button class="btn btn-dark btn-sm">
                                <a href="productCart"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<%-include("./partials/footer")  %>