<%-include("./partials/_header")  %>

<body>
    <div class="container">
        <div class="row  responsive">
            <div class="col-md-12">
                <h2 style="margin-bottom: 30px; padding-top: 10px;">Carga de producto</h2>
            </div>
            <div class="col-md-12">
                <table class="table table-striped text-center">

                    <head>
                        <tr>
                            <td>Producto</td>
                            <td>Descripción</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                        </tr>
                    </head>
                    <tbody>
                        <tr>
                            <td width="120" style="vertical-align: middle;">
                                <input type="file" name="img_producto">
                            </td>
                            <td style="vertical-align: middle;">
                                <textarea name="texto" cols="40" rows="5"></textarea>
                            </td>
                            <td style="vertical-align: middle;">
                                <input type="number" min="0" max="9999">
                            </td>
                            <td style="vertical-align: middle;" width="80">
                                <input type="number" min="0" max="9999">
                            </td>
                        </tr>

                        <tr>
                            <td width="120" style="vertical-align: middle;">
                                <input type="file" name="img_producto">
                            </td>
                            <td style="vertical-align: middle;">
                                <textarea name="texto" cols="40" rows="5"></textarea>
                            </td>
                            <td style="vertical-align: middle;">
                                <input type="number" min="0" max="9999">
                            </td>
                            <td style="vertical-align: middle;" width="80">
                                <input type="number" min="0" max="9999">
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="col-md-12">
                <div class="float-right">
                    <a href="#" class="btn btn-info">Agregar producto</a>
                    <a href="#" class="btn btn-danger">Cancelar</a>
                    <a href="#" class="btn btn-success">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    <br>

</body>

<%-include("./partials/_footer")  %>