<%-include("./partials/head", {title: 'Admin'})  %>
<%-include("./partials/admin")  %>



<div class="contain-prod-create">
    <div class="cont-prod-create">
        <div class="tit-product-create">
            <h5 class="products-title">Creación de productos</h5>
        </div>
        <!-- Agregar productos nuevos -->
        <div class="products-create">
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <div class="prod-create-box">
                    <div class="">
                        <label for="nombre" class="form-label">Nombre del producto</label><br>
                        <input type="text" id="nombre" name="nombre" placeholder=" Ej: jabon de miel" class="form-input">
                    </div>
                    <div class="">
                        <label for="precio" class="form-label">Precio</label><br>
                        <input type="text" id="precio" name="precio" placeholder=" Ej: 120" class="form-input">
                    </div>
                    <div class="">
                        <label for="categoriaProductoId" class="form-label">Categoría</label><br>
                        <select type="text" id="categoria" name="categoriaProductoId" class="form-input">
                            <option value="">Selecciona una opción</option>
                            <option value="jabon">jabon</option>
                            <option value="shampoo">shampoo</option>
                            <option value="perfume">perfume</option>
                            <option value="acondicionador">acondicionador</option>
                        </select>
                    </div>
                    <div class="">
                        <label for="stock" class="form-label">Cantidad</label><br>
                        <input type="text" id="stock" name="stock" placeholder="Ej: 20" class="form-input">
                    </div>
                    <div class="">
                        <label for="descripcion" class="form-label">Descripción</label><br>
                        <textarea name="descripcion" id="descripcion" cols="100" rows="7" class="form-input"
                            placeholder="Agrega aqui el detalle del producto"></textarea>
                    </div>
                    <div class="">
                        <label for="imagen" class="form-label">Selecciona aquí la imagen del producto</label><br>
                        <input class="text-input" name="imagen" type="file">
                    </div>
                </div>

                <!-- botones -->
                <div class="prod-create-button">
                    <div class="float-right">
                        <button type="submit" class="btn-guardar">Guardar</button>
                        <button type="submit" class="btn-agregar">Agregar otro producto</button>
                        <button type="reset" class="btn-cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>