<%-include("./partials/head", {title: 'Tu carrito'})  %>
<%-include("./partials/header")  %>

<main class="container-carrito">
    <div class="">
        <div class="container-tit-carrito">
            <span class="tit-carrito">Carrito de compras</span>
        </div>
        <!-- Shopping cart -->
        <div class="product-cart-items">
            <form class="product-cart-form" action="" method="post">
                <div class="prod-cart-detalle">
                    <div class="prod-cart-img">
                        <a href="../img/products/alcoholGel.jpg">
                            <img class="img-cart" src="../img/products/alcoholGel.jpg" alt="imagen de producto">
                        </a>
                    </div>
                </div>
                <div class="prod-cart-item-descrip">
                    <h5>Nombre producto</h5><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, ipsa.</p>
                </div><br>
                <div class="prod-cart-action-list">
                    <div>
                        <a href="#" id="action-list">Eliminar &nbsp </a>
                    </div>
                    <span id="action-list"> │ </span>
                    <div>
                        <a href="#" id="action-list"> &nbsp Guardar para después</a>
                    </div>
                </div><br>
                <section class="product-cart-price">
                    <div class="product-cart-item-price">
                        <p>$ 120</p>
                    </div>
                    <div class="product-cart-item-cant">
                        <div>
                            <button class="decrease" title="disminuir cantidad" type="button">-</button>
                            <input type="text" class="inputCant">
                            <button class="increase" title="aumentar cantidad" type="button">+</button>
                        </div>
                    </div>
                    <div class="cont-compra">
                        <button type="button" class="btn-continuar-compra">Continuar compra</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</main>

<%-include("./partials/footer")  %>