<%-include("./partials/head", {title: 'Tu carrito'})  %>
<%-include("./partials/header")  %>

<body>

    <div class="pb-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Producto</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Precio</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Cantidad</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Eliminar</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="border-0">
                                        <div class="p-2">
                                            <img src="/img/jabon avellana.jpg" alt="" width="70"
                                                class="img-fluid rounded shadow-sm">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"> <a href="#"
                                                        class="text-dark d-inline-block align-middle">Jabón de
                                                        avellana</a></h5><span
                                                    class="text-muted font-weight-normal font-italic d-block">Categoria:
                                                    Jabones</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="border-0 align-middle"><strong>$79.00</strong></td>
                                    <td class="border-0 align-middle"><strong>3</strong></td>
                                    <td class="border-0 align-middle"><a href="#" class="text-dark"><i
                                                class="fa fa-trash" style="align-content: center;"></i></a></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="p-2">
                                            <img src="/img/jabon flor.jpg" alt="" width="70"
                                                class="img-fluid rounded shadow-sm">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Jabón
                                                        flor</a></h5><span
                                                    class="text-muted font-weight-normal font-italic">Categoria:
                                                    Jabones</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle"><strong>$50.00</strong></td>
                                    <td class="align-middle"><strong>1</strong></td>
                                    <td class="align-middle"><a href="#" class="text-dark"><i
                                                class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <div class="p-2">
                                            <img src="/img/perfume clasico hombre.jpg" alt="" width="70"
                                                class="img-fluid rounded shadow-sm">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Perfume
                                                        clasico hombre</a></h5><span
                                                    class="text-muted font-weight-normal font-italic">Categoria:
                                                    Perfumes</span>
                                            </div>
                                        </div>
                                    <td class="align-middle"><strong>$130.00</strong></td>
                                    <td class="align-middle"><strong>1</strong></td>
                                    <td class="align-middle"><a href="#" class="text-dark"><i
                                                class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</body>
























<!-- <div class="container">
        <div class="row responsive">
            <div class="col-md-12">
                <h2 style="margin-bottom: 30px; padding-top: 10px;">Carrito de compras</h2>
            </div>
            <div class="col-md-12">
                <table class="table table-striped text-center">

                    <head>
                        <tr>
                            <td>Producto</td>
                            <td>Nombre</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                        </tr>
                    </head>
                    <tbody>
                        <tr>
                            <td width="120"><img src="/img/shampoo libre.jpg" alt="imagen producto" height="100"></td>
                            <td style="vertical-align: middle;">Shapoo libre</td>
                            <td style="vertical-align: middle;">$100</td>
                            <td style="vertical-align: middle;" width="80">1</td>
                            <td style="vertical-align: middle;" width="30"><a href="#" class="btn btn-link"
                                    id="link">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="120"><img src="/img/shampoo liso.jpg" alt="imagen producto" height="100">
                            </td>
                            <td style="vertical-align: middle;">Shapoo liso</td>
                            <td style="vertical-align: middle;">$120</td>
                            <td style="vertical-align: middle;" width="80">3</td>
                            <td style="vertical-align: middle;" width="30"><a href="#" class="btn btn-link"
                                    id="link">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="120"><img src="/img/shampoo oleosidad.jpg" alt="imagen producto" height="100">
                            </td>
                            <td style="vertical-align: middle;">Shapoo oleosidad</td>
                            <td style="vertical-align: middle;">$150</td>
                            <td style="vertical-align: middle;" width="80">2</td>
                            <td style="vertical-align: middle;" width="30"><a href="#" class="btn btn-link"
                                    id="link">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="120"><img src="/img/shampoo vivo.jpg" alt="imagen producto" height="100">
                            </td>
                            <td style="vertical-align: middle;">Shapoo vivo</td>
                            <td style="vertical-align: middle;">$90</td>
                            <td style="vertical-align: middle;" width="80">1</td>
                            <td style="vertical-align: middle;" width="30"><a href="#" class="btn btn-link"
                                    id="link">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-12">
                <div class="float-right">
                    <a href="#" class="btn btn-danger">Seguir comprando</a>
                    <a href="#" class="btn btn-secondary">Continuar</a>
                </div>
            </div>
        </div>
    </div>
    <br> -->

</>

<%-include("./partials/footer")  %>