<%-include("./partials/head", {title: 'Admin'})  %>
<%-include("./partials/header")  %>

<body>

  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="login()">Entrar</button>
      <button type="button" class="toggle-btn" onclick="registro()">Registro</button>
    </div>
    <form id="login" class="input-group">
      <input type="text" class="input-field" placeholder="Usuario" required>
      <input type="password" class="input-field" placeholder="Contrase単a" required>
      <input type="checkbox" class="check-box"><span>Recordar contrase単a</span>
      <button type="submit" class="submit-btn">Entrar</button>
    </form>
    <form id="registro" class="input-group">
      <input type="text" class="input-field" placeholder="Usuario" required>
      <input type="email" class="input-field" placeholder="E-mail" required>
      <input type="password" class="input-field" placeholder="Contrase単a" required>
      <input type="password" class="input-field" placeholder="Vuelva a escribir la contrase単a" required>

      <button type="submit" class="submit-btn">Registrarse</button>
    </form>
  </div>
  <div>
    <script>
      var x = document.getElementById("login");
      var y = document.getElementById("registro");
      var z = document.getElementById("btn");
      function registro() {
        x.style.left = "-450px";
        y.style.left = "50px";
        z.style.left = "110px";
      }

      function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
      }
    </script>
  </div>





</body>


<%-include("./partials/footer")  %>